/karabiner/automatic_backups

/.vim/autoload/plug.vim*

*.zwc
/zsh/completion/_git
/zsh/completion/git-completion.bash
/zsh/completion/git
/zsh/completion/_ghq
/zsh/completion/ghq
/zsh/completion/_kubectl
/zsh/completion/kubectl
/zsh/completion/_kustomize
/zsh/completion/kustomize
