[user]
	name = yosida95
	email = kohei@yosida95.com
[push]
	default = matching
[color]
	ui = true
[alias]
	pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[grep]
	lineNumber = true
