[core]
	excludesfile = ~/.gitignore_global
[alias]
	pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[grep]
	lineNumber = true
[push]
	default = simple
	followTags = true
[user]
	useConfigOnly = true
	name = Kohei YOSHIDA
[pull]
	ff = only
